<div class="panel text-center">
    <div class="panel-body">
        <img alt="Avatar" class="img-md img-circle img-border mar-btm"
            src="https://bootdey.com/img/Content/avatar/avatar4.png">
        <h4 class="mar-no">Brenda Fuller</h4>
        <p>Project manager</p>
    </div>
    <div class="pad-all">
        <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </p>
        <div class="pad-btm">
            <button class="btn btn-primary">Follow</button>
            <button class="btn btn-success">Message</button>
        </div>
    </div>
</div>