<main role="main" class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <ng-content select=".group-title"></ng-content>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <ng-content select=".title"></ng-content>
            </li>
        </ol>
    </nav>

    <div class="jumbotron">
        <ng-content select=".header"></ng-content>

    </div>

    <div class="jumbotron">
        <ng-content select=".body"></ng-content>

    </div>
    <div class="jumbotron">
        <ng-content select=".footer"></ng-content>
    </div>
</main>